.filter-btn {
	min-width: 52px;
	height: 34px;
	border: 1px solid #ababab;
	display: flex;
	justify-content: center;
}
.filter-btn:before {
	position: absolute;
	content: '';
	background-color: #d7d7d7;
	width: 1px;
	right: -15px;
	bottom: 2px;
	height: 28px;
	border-radius: 18px;
}
.filter-icon {
	height: 24px;
	width: 24px;
}
.cursor:hover {
	cursor: pointer;
}
.clear {
	color: #d7d7d7;
	font-size: 14px;
	font-weight: 600;
}
.clear-active {
	color: #3399ff;
	cursor: pointer;
}

.close {
	cursor: pointer;
	margin-bottom: 3px;
}
.friend-item {
	height: 114px;
}
.badge-green {
	height: 21px;
	padding: 3px 7px 3px 7px;
	border-radius: 21px;
	background: #dcffe6;
	color: #19b444;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
}
.badge-blue {
	height: 21px;
	padding: 3px 7px 3px 7px;
	border-radius: 21px;
	background: #dfefff;
	color: #3399ff;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
}
.loading-item {
	height: 114px;
}
.loading-bar {
	background: linear-gradient(
		90deg,
		#eaeaea 26.47%,
		rgba(234, 234, 234, 0.25) 100%
	);
}
