.filter-btn {
	min-width: 44px;
}
.filter-icon {
	height: 20px;
	width: 20px;
}
.cursor:hover {
	cursor: pointer;
}
.clear {
	cursor: pointer;
}
.clear:hover {
	color: blue;
}
.close {
	cursor: pointer;
	margin-bottom: 3px;
}
