.open {
	display: none;
}
.drawer {
	min-width: 250px;
}
.content {
	padding-top: 31px;
	max-width: 220px;
	margin: 0 auto;
}

.logo-wrapper {
	margin-bottom: 30px;
}
.logo {
	margin-right: 11px;
}
.nav-item {
	height: 40px;
}
.nav-icon {
	margin-right: 11px;
}
.nav-icon svg {
	width: 20px;
	height: 20px;
}
.header {
	height: 80px;
	padding-left: 40px;
	margin-bottom: 46px;
}

@media (max-width: 875px) {
	.drawer {
		display: none;
	}

	.open {
		display: unset;
		cursor: pointer;
	}
}
